<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.n4u1.AQA.AQA">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- INTENT-FILTER 넣어야함 ??? -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/q"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1854873514128645~3190074937" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.n4u1.AQA.AQA.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/aqacustom2" />

        <service
            android:name=".util.NotificationJobService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity android:name=".views.LoginActivity" />
        <activity android:name=".dialog.BaseLoadingActivity" />
        <activity android:name=".views.HomeActivity" />
        <activity android:name=".views.UserContentsUploadActivity" />
        <activity
            android:name=".views.FileChoiceActivity"
            android:label="@string/title_activity_file_choice"
            android:theme="@style/AppTheme" />
        <activity android:name=".views.TestActivity" />
        <activity android:name=".views.PollRankingActivity" />
        <activity android:name=".views.PollSingleActivity" />
        <activity android:name=".views.CreateUserActivity" />
        <activity
            android:name=".dialog.RankingChoiceActivity"
            android:theme="@style/Theme.DialogFragmentActivity" />
        <activity android:name=".views.SearchHomeActivity" />
        <activity android:name=".views.MineActivity" />
        <activity android:name=".views.MyLikeContentsActivity" />
        <activity android:name=".views.MyReplyContentsActivity" />
        <activity android:name=".views.SearchResultActivity" />
        <activity android:name=".views.MyPollActivity" />
        <activity android:name=".views.MyUploadActivity" />
        <activity android:name=".views.FullImageActivity" />
        <activity
            android:name=".dialog.DeleteModificationActivity"
            android:theme="@style/Theme.DialogFragmentActivity" />
        <activity android:name=".views.FindUserActivity" />
        <activity
            android:name=".dialog.UploadLoadingActivity"
            android:theme="@style/Theme.DialogFragmentActivity" />
        <activity
            android:name=".dialog.UserAlarmDialog"
            android:theme="@style/Theme.DialogFragmentActivity" />
        <activity android:name=".views.WhenNotiClickActivity" />
        <activity android:name=".splash.SplashLoadingActivity" />
        <activity
            android:name=".views.UserClassInfoActivity"
            android:theme="@style/Theme.DialogFragmentActivity" />
        <activity android:name=".views.SuggestActivity" />
        <activity android:name=".views.UserSuggestUploadActivity" />
        <activity android:name=".views.SuggestDetailActivity" />
        <activity android:name=".views.ShareAuthActivity" />
        <activity android:name=".views.UserShareAuthUploadActivity" />
        <activity android:name=".views.ShareAuthDetailActivity" />
        <activity android:name=".views.VersionInfoActivity" />
        <activity
            android:name=".dialog.PrivacyPolicyActivity"
            android:theme="@style/Theme.DialogFragmentActivity" />
        <activity android:name=".views.PrivacyPolicyDetailActivity" />
        <activity android:name=".views.ServicePolicyActivity" />
        <activity android:name=".splash.SplashCreateUserActivity" />
        <activity android:name=".views.AqaIsActivity" />
        <activity android:name=".views.CreateUserEmailActivity" />
        <activity android:name=".views.CreateUserIdActivity" />
        <activity android:name=".views.CreateUserAGActivity" />
        <activity android:name=".splash.SplashGuidActivity"></activity>
    </application>

</manifest>